.footer {
    background: #202020;
    font-family: Inter, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.footer__bottom {
    margin: auto 70px;
    border-bottom: 1px solid #424242;
    height:115px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.footer__text {
    color: #8B8B8B;
}

.footer__line {
    padding: 20px 70px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-content: center;
}


.footer__links {

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:1fr;
    text-decoration: none;
    list-style-type: none;
    margin:0 20px 0;
    padding:0;
    align-items: center;
    max-width: 264px;
    gap:20px;
}

.footer__link {
    text-decoration: none;
    transform: 300ms;
    color: #fff;
}


.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 910px) {
    .footer__bottom {
        margin: auto 30px;
    }
    .footer__line {
    padding: 20px 30px;
    }

    }
    
@media screen and (max-width: 586px) {
    .footer__bottom {
        margin: auto 10px;
    }

    .footer__line {
        margin: auto 10px;
    }
    .footer__copyright {
        margin-top: 30px;
        font-size: 12px;
        color: #8B8B8B;
        text-align: center;
    }

    .footer__text {
        font-size: 12px;
    }

    .footer__line {
        flex-direction: column-reverse;
    }

    .footer__links {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:3fr;
        gap: 12px;
        text-align: center;
    }

    .footer__link {
        font-size: 12px;
    }
}
